.form-container{
    display: flex;
    height:60vh;
    width:68vh;
    border: 1px solid white;
    border-radius: 75px;
    background-color:#da6a6a;
    font-size: 30px;
    font-family: "Asap Condensed", sans-serif;
    color:white ;
    margin-bottom: 580px;
    margin-left: 65%;
    margin-top: auto;
    flex-direction: column;
}
.agefield{
    font-size: 45px;
    align-self: center;
    justify-self: center;
   margin: auto;
}
#agelabel{
    align-self: flex-start;
    margin-top: 30px;
    margin-right: 166px;
    margin-left: 30px;

}
#age{
    height: 30px;
    margin-bottom: 50px;
    width: 450px;
    border-radius: 40px;
    margin-left:30px ;
    padding-left: 2%;
}


.namefield{
    margin-top: 50px;
}

.tab1{
    align-self: center;
}

.btn{
    margin-top: 1px;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    border: 1px solid red;
    font-size: large;
    font-family: 'Inclusive Sans', sans-serif;
}
#tb2{
    background-color: rgb(250, 109, 84) ;
    color: white;
    
    
}

#button1{
    background-color: rgb(250, 109, 84);
    color: white;
    margin-left: 30px;
    margin-right: 55px;
    border: 1px solid red;
    border-radius: 20px;
    height: 30px;
    font-size: medium;
    font-family: 'Inclusive Sans', sans-serif;
   
    margin-bottom: auto;
}
#button1:hover{
    cursor: pointer;
}
.errormsg{
    color: white ;
    font-size: medium;
    margin-left: 30px;
}