{% extends 'index.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'social_media_app/create.css' %}"/>
<script src="{% static 'social_media_app/theme.js' %}"></script>
<div class="container2"></div>
<div class="container3">

    <div class="head">Drag images or videos from your computer or click on the box below</div>
    <div class="box"><input type="file" id="inputbox" name="inputbox"><label for="inputbox">Click or drag a file here to upload</label></div>
    <div class="caption">
        <textarea name="" id="txt2" cols="30" rows="10" placeholder="Enter a caption for your Image/Video"></textarea>
        <button type="submit" class="crbt">Upload</button>
    </div>
</div>
{% endblock content %}