{% extends 'index.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'social_media_app/create.css' %}"/>
<script src="{% static 'social_media_app/theme.js' %}"></script>
<div class="container2"></div>
<div class="container3">

    
    <div class="head">Drag images or videos from your computer or click on the box below</div>
    <form enctype="multipart/form-data" method="POST" action="{% url 'Create' %}">
        {% csrf_token %}
        <div class="box">
            {{form.media}}
        </div>
        <div class="caption">
           {{form.discription}}
        </div>
        <button type="submit" class="crbt">Upload</button>
    </form>

        
</div>
{% endblock content %}

