{% extends 'homepage.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'social_media_app/privacy.css' %}"/>

<div class="matter">
<div class="mainhead">Privacy Policy</div>
  <div class="heading">Introduction</div>
  <div class="content">
   
      Welcome to SocialVista. We are
      committed to protecting your privacy and providing a safe and secure
      user experience. This Privacy Policy outlines how we collect, use,
      disclose, and protect your personal information when you use our
      services.
    
  </div>
  <div class="heading">Information We Collect</div>
  <div class="content">
   
      User-Provided Information: We may collect information you provide
      when you create an account, post content, communicate with other
      users, or use our website's features. This may include your name,
      email address, profile information, photos, and other content you
      submit.
      Automatically Collected Information: We may collect
      information automatically when you use our website. This may include
      your IP address, device information, browser type, cookies, and usage
      data.
    
  </div>
  <div class="heading">How We Use Your Information</div>
  <div class="content">
 We use the information we collect for various purposes, including but
    not limited to: <br>
    a. Providing, maintaining, and improving our services. <br>
    b. Personalizing your experience on our website. <br>
    c. Communicating with you, including responding to inquiries and providing updates. <br>
    d.Analyzing user behavior and trends to enhance our services. <br>
    e. Enforcing our terms of service and protecting the rights and safety of our users
    and the community.
  </div>
  <div class="heading">Disclosure of Your Information</div>
  <div class="content">
    We may share your information with: <br>
    a. Other users as part of your
    interactions on our website. <br>
    b. Third-party service providers who assist
    in operating our website and services. <br>
    c. Legal authorities when
    required by law or to protect our rights or the safety of our users.
  </div>
  <div class="heading">Your Choices</div>
  <div class="content">
    You have choices regarding your personal information, including: <br>a.
    Access, review, and update your account information.<br> b. Adjust your
    privacy settings to control what information is visible to others. <br>c.
    Opt out of certain communications or data collection.
  </div>
  <div class="heading">Security</div>
  <div class="content">
    We take security measures to protect your personal information; however,
    no method of transmission over the internet is entirely secure. We
    encourage you to use strong, unique passwords and exercise caution when
    sharing personal information.
  </div>
  <div class="heading">Children's Privacy</div>
  <div class="content">Our services are not intended for individuals under the age of 18. If you believe we have collected information from a child under 18, please contact us.</div>
  <div class="heading">Changes to this Privacy Policy</div>
  <div class="content">We may update this Privacy Policy to reflect changes in our practices or for other operational, legal, or regulatory reasons. We will notify you of any significant changes.</div>
  <div class="heading">Contact Us</div>
  <div class="content">If you have questions, concerns, or requests regarding this Privacy Policy or our practices, please contact us at [Contact Email Address].</div>
</div>
{% endblock content %}
    
