{% extends 'index.html' %} 
{% block content %} 
{% block anotherprofile %}
  

  
{% load static %}
<link  rel="stylesheet" type="text/css" href="{% static 'social_media_app/profile.css' %}"/>

<div class="container2 disable-scrolling">
  <div class="profilepic">
    {% if profilepic %}
    <img src="{{ profilepic.url }}" alt="{{ profilepic.profilepic.name }}">
    {% else %}
    <img src="https://static.thenounproject.com/png/138926-200.png" alt="">
    {% endif %}
  </div>
  
  
  <div class="details">
      <div class="name">{{username}}</div>
      
      <div class="status"><span> 0 followers</span>  <span>0 following</span>  <span>{{post_count}} posts</span></div>
      {% if discriptionnew %}
      <div class="discription">{{discriptionnew}}</div>
      {% else %}
      <div class="discription">{{discription}}</div>
      {% endif %}
  </div>
  
  <div class="line"></div>
  <div class="post">
    <h3>post</h3>
  </div>
    
</div>
{% endblock anotherprofile %}
{% endblock content %}
