.container2{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-right: 5%;
    padding-left: 25%;

}
*{
    overflow: hidden;
}
.profilepic{
    overflow: hidden;
    position: relative;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 5%;
    width: 200px;
    height: 200px;
}
.details{
    display: grid;

    width: 80%;
    height: 100%;
    margin-top: 5%;
    margin-left: -28%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr ;
    font-family: 'Montserrat', sans-serif;
}
.profilepic img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: auto;
    display: block;
    padding-top: -30px;
    margin-top: -1%;
}
.name{
    
    display: flex;
    align-items: center;
}
.status{
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -18%;
}
.discription{
    margin-top: -5%;
    grid-column-start: 1;
    grid-column-end: 3;
}

.editprofile{
    display: flex;
    align-items: center;

}
.editprofile a{
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-family: "IBM Plex Mono", monospace;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 35%;
    background-color: #da6a6a;
}
.line{
    width: 153%;
    height: 1%;
    background-color:black;
    margin-top: 20%;

}
.post{
    background-color: darkcyan;
    width: 50%;
    margin-top: 25%;
    margin-left: -50%;
    color: purple;
    height: auto;
}
.buttonsg{
    color: plum;
    margin-top: 25%;
    margin-right: auto;
    margin-left: -70%;
    height: 100%;
    width: 100%;
}

.buttonsg a{
    margin-top: 3%;

    display: flex;
    border: 1px solid black;
    border-radius: 60px;
    margin-right: 1%;
    width: 99%;
    height: 30%;
    font-family: "Montserrat", sans-serif;
    font-size: large;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: white;
    color: black;
    
}

.buttonsg a:hover{
    background-color: rgb(216, 216, 216);
}