.form-container{
    display: flex;
    height:65vh;
    width:68vh;
    border: 1px solid white;
    border-radius: 75px;
    background-color:#da6a6a;
    font-size: 30px;
    font-family: "Asap Condensed", sans-serif;
    color:white ;
    margin-bottom: 580px;
    margin-left: 65%;
    margin-top: auto;
    flex-direction: column;
}

#profilepiclabel,#discriptionlabel{
    align-self: flex-start;
    margin-top: 1px;
    margin-right: 166px;
    margin-left: 30px;

}
#profilepic{
    height: 20px;
    margin-bottom: 50px;
    width: 180px;
    border-radius: 40px;
    margin-left:30px ;
    background-color: white;

}
input{
    margin-left: 8%;
    margin-bottom: 5%;
}
#genderlabel{
    margin-top: 30px;
}

#button1{
    background-color: rgb(250, 109, 84);
    color: white;
    margin-left: 30px;
    margin-right: 55px;
    border: 1px solid red;
    border-radius: 20px;
    height: 30px;
    font-size: medium;
    font-family: 'Inclusive Sans', sans-serif;
}
#button1:hover{
    cursor: pointer;
}

.usernamefield{
    margin-top: 50px;
}

.tab1{
    align-self: center;
}

.btn{
    
    border-radius: 50px;
    width: 25px;
    height: 25px;
    border: 1px solid red;
    font-size: large;
    font-family: 'Inclusive Sans', sans-serif;
}
#tb4{
    background-color: rgb(250, 109, 84) ;
    color: white;
    
    
}

#discription{
    height: 100px;
    margin-bottom: 50px;
    width: 430px;
    border-radius: 40px;
    margin-left:30px ;
    padding: 3%;
}


.profilepicfield{
    margin-top: 60px;
}

textarea::placeholder{
    font-style: italic;
}
